<fieldset>
<p>
  <label><%= l(:become_admin_label) %></label>
  <%= text_field_tag 'settings[become_admin]', @settings['become_admin'] %>
</p>
<p>
  <label><%= l(:become_user_label) %></label>
  <%= text_field_tag 'settings[become_user]', @settings['become_user'] %>
</p>
</fieldset>
<fieldset>
<p>
  <label><%= l(:css_admin_label) %></label>
  <%= text_area_tag 'settings[additional_css]', @settings['additional_css'], :size => '50x5' %>
</p>
</fieldset>
